In [2]:
import pandas as pd

In [3]:
chang = pd.read_csv('../../data/datasets/unmodified/chang2013/chang_table1.csv')
species_comp = pd.read_csv('../../data/datasets/unmodified/chang2013/chang_table2.csv', encoding='cp1252')
microscopy = pd.read_csv('../../data/datasets/unmodified/chang2013/chang_table3.csv', encoding='cp1252')

In [4]:
microscopy

,TAXA,Ross Ice Shelf,Less than 0.1,Antarctic Slope,Less than 0.1.1,Offshore South of PF,Less than 0.1.2,Subantarctic,Less than 0.1.3
0,Centric,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Asteromphalus hookeri Ehrenberg,1.0,NaN,0.1,NaN,0.2,NaN,0,NaN
2,Asteromphalus hyalinus Karst,0.3,NaN,0.1,<,0.2,NaN,0.1,<
3,Asteromphalus parvulus Karst,0.7,NaN,0.1,<,0.2,NaN,0,NaN
4,Chaetoceros concavicornis Mangin,0.1,<,0.1,<,0.1,NaN,0,NaN
...,...,...,...,...,...,...,...,...,...
80,Class Prymnesiophyceae,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,Phaeocystis antarctica Karst,290.0,NaN,0.1,NaN,31.1,NaN,3.7,NaN
82,Class Prasinophyceae,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,Pyramimonas spp.,0.1,NaN,0.1,NaN,0.6,NaN,0.1,<
84,Monads (unknown),9.3,NaN,3.1,NaN,12.2,NaN,9.8,NaN

In [5]:
chang

,Station,Latitude,Temp,Salinity,Nitrate (NO3),Ammonium,Dissolved Reactive Phosphorous,Nitrate to phosphate draw down ratio,chl-a Total,ZM (mixed layer depth in meters)
0,C1,74.59,-0.79,34.20,14.29,0.29,1.19,12.0,0.77,36
1,C2,77.75,-1.50,33.85,22.00,0.10,0.58,37.9,0.30,30
2,C3,75.62,-0.78,34.28,22.86,0.36,1.55,14.7,0.72,55
3,C4,76.18,-1.57,33.98,22.64,0.86,1.52,14.9,1.26,55
4,C15,75.29,-1.69,33.87,30.86,1.36,1.97,15.6,0.39,43
5,C16,72.32,-1.77,33.93,25.93,2.00,1.90,13.6,0.29,43
6,C17,72.09,-1.70,34.07,26.57,0.43,1.77,15.0,0.20,47
7,C18,71.38,-1.62,34.04,28.21,0.36,1.52,18.6,0.21,72
8,C25,72.08,-1.65,34.03,29.29,0.57,1.77,16.6,0.25,28
9,C26,72.02,-1.49,33.76,21.21,0.57,1.97,10.8,0.28,39
10,C27,71.93,-1.48,34.21,25.14,0.21,1.81,13.9,0.19,48
11,C24,66.98,-1.42,33.79,27.64,0.36,1.81,15.3,0.19,51
12,C29,69.42,-1.82,32.61,27.43,0.50,1.84,14.9,0.52,26
13,C30,68.52,-1.77,33.65,27.71,0.50,1.77,15.7,0.47,39
14,C31,68.11,-1.62,33.66,26.29,0.14,1.48,17.8,0.41,45
15,C33,67.61,-1.47,33.64,27.64,0.36,1.26,219.0,0.28,48
16,C34,67.38,-0.76,33.93,28.21,0.14,1.84,15.3,0.15,19
17,C35,66.72,-1.31,33.64,27.50,2.00,1.77,15.5,0.23,35

In [6]:
species_comp

,Station,Position (Lat.),Temp.,Salinity,Total chl-a (lg L^-1),Heterotrophic dinoflagellates
0,Ross Sea shelf (>73 S),NaN,NaN,NaN,NaN,NaN
1,P637,76.70,-1.83,33.97,0.85,12.4 (94.0)
2,P638,76.60,-1.70,34.19,0.71,6.7 (95.8)
3,P636,76.56,-1.09,34.33,0.31,4.3 (94.8)
4,P640,76.51,-1.39,34.32,0.56,21.5 (88.8)
5,P633,75.65,-1.19,34.17,0.23,8.9 (98.9)
6,P632,75.08,-1.47,33.98,0.13,9.4 (95.1)
7,P641,74.76,-1.09,34.03,0.77,11.3 (97.3)
8,P644,72.50,-1.34,34.13,34.13,6.3 (98.0)
9,Slope (70 Sâ€“73 S),NaN,NaN,NaN,NaN,NaN
10,P625,71.74,-1.15,33.98,0.09,0.1 (81.8)
11,P646,71.39,-1.61,33.09,0.15,2.5 (98.0)
12,Offshore Antarctic waters (60 Sâ€“70 S),NaN,NaN,NaN,NaN,NaN
13,P647,69.48,-1.81,33.86,0.11,2.1 (90.3)
14,P649,68.11,-1.66,33.58,0.29,4.6 (98.2)
15,P619,68.04,-1.42,33.34,0.12,3.6 (81.8)
16,P650,67.75,-1.52,33.54,0.44,0.2 (95.4)
17,P653,67.33,-1.14,33.70,0.21,2.1 (85.8)
18,P658,67.06,-1.49,33.68,0.12,no data
19,P660,66.98,-1.42,33.74,0.19,4.8 (86.5)
20,P616,65.69,0.57,33.62,0.36,9.4 (93.7)
21,Subantarctic Waters (45 Sâ€“60 S),NaN,NaN,NaN,NaN,NaN
22,P613,61.99,2.18,33.77,0.18,0.2 (54.1)
23,P610,58.02,6.06,33.88,0.08,0.2 (69.0)
24,P663,55.42,6.12,33.67,0.17,0.1 (43.2)
25,P607,53.63,6.12,33.88,0.16,0.3 (69.1)
26,P606,52.87,7.93,34.97,-9999.00,-9999
27,P604,49.43,10.77,34.24,0.36,2.7 (48.3)
28,P601,47.17,14.38,34.43,0.41,3.1 (77.0)

In [ ]:
# Steps
# TODO: How to correlate the C Stations with the P stations
# TODO: What to do with only dinoflagellates